<a href="https://colab.research.google.com/github/JVanderhart/Python-Psych-Research-Replication/blob/main/PsychProjectPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [ ]:
 df = pd.read_csv('/content/sample_data/dataReformatted.csv')
 dfCopy = df.copy

 # If this throws an error it's likely that Google Colab changed the file path to the dataset

In [ ]:
df.head(4)

# Previewing raw data

   race  age  engnat  gender  hand  source country  ...  O4  O5  O6  O7  O8  O9  O10
0     3   53       1       1     1       1      US  ...   1   5   1   4   2   5    5
1    13   46       1       2     1       1      US  ...   3   2   3   3   1   3    2
2     1   14       2       2     1       1      PK  ...   1   5   1   5   5   5    5
3     3   19       2       2     1       1      RO  ...   2   4   2   5   2   5    5

[4 rows x 57 columns]

In [ ]:
def reverseScoring(df, high, cols):
    '''Reverse scores on given columns
     df = your data frame,
     high = 1+highest score available
     cols = the columns you want reversed in list form'''
    df[cols] = high - df[cols]
    return df

    # The way some questions are written means that the scores have to be reversed. An example of this could be 
    # "I rarely feel anxious" the participant rates themself on a Likert scale from 1 to 5 this would need to be
    # reversed to represent a positive metric for neuroticism.

In [ ]:
cols = ['E2','E4','E6','E8','E10','N2','N4','A1','A3','A5','A7','C2','C6','C8','O2','O4','O7']

reverseScoring(df, 6, cols)

# Runs the previously created funciton reversing the scores that are coded in reverse. These columns each represent
# a question like the example in the previous comment.

       race  age  engnat  gender  hand  source  ... O5  O6  O7  O8  O9  O10
0         3   53       1       1     1       1  ...  5   1   2   2   5    5
1        13   46       1       2     1       1  ...  2   3   3   1   3    2
2         1   14       2       2     1       1  ...  5   1   1   5   5    5
3         3   19       2       2     1       1  ...  4   2   1   2   5    5
4        11   25       2       2     1       2  ...  3   1   3   1   5    3
...     ...  ...     ...     ...   ...     ...  ... ..  ..  ..  ..  ..  ...
19714    11   15       1       2     1       2  ...  4   1   2   2   5    3
19715     3   37       1       2     1       2  ...  3   3   2   2   3    3
19716     5   16       2       1     1       2  ...  4   1   5   5   5    5
19717    12   16       1       1     1       5  ...  4   1   1   3   5    5
19718     3   35       1       1     1       1  ...  4   1   1   5   5    5

[19719 rows x 57 columns]

In [ ]:
df['extra'] = df['E1']+df['E2']+df['E3']+df['E4']+df['E5']+df['E6']+df['E7']+df['E8']+df['E9']+df['E10']
df['neuro'] = df['N1']+df['N2']+df['N3']+df['N4']+df['N5']+df['N6']+df['N7']+df['N8']+df['N9']+df['N10']
df['agree'] = df['A1']+df['A2']+df['A3']+df['A4']+df['A5']+df['A6']+df['A7']+df['A8']+df['A9']+df['A10']
df['cons'] = df['C1']+df['C2']+df['C3']+df['C4']+df['C5']+df['C6']+df['C7']+df['C8']+df['C9']+df['C10']
df['open'] = df['O1']+df['O2']+df['O3']+df['O4']+df['O5']+df['O6']+df['O7']+df['O8']+df['O9']+df['O10']
df.head(8)

# Summing the individual quesitons into their composite personality metrics. Then printing to confirm.

   race  age  engnat  gender  hand  ...  extra neuro  agree  cons  open
0     3   53       1       1     1  ...     44    11     46    43    37
1    13   46       1       2     1  ...     22    31     35    40    26
2     1   14       2       2     1  ...     35    46     38    45    37
3     3   19       2       2     1  ...     22    43     37    30    35
4    11   25       2       2     1  ...     34    30     44    34    30
5    13   31       1       2     1  ...     16    24     36    31    33
6     5   20       1       2     1  ...     46    21     45    28    35
7     4   23       2       1     1  ...     39    15     41    40    34

[8 rows x 62 columns]

In [ ]:
dc_df = pd.get_dummies(df, columns = ['engnat', 'gender', 'source'])
dc_df.head(5)

# Creates dummy variables to investigate previous pychology literature linking weakly but significantly
# the relationship between gender and neuroticism.

# I decided to add something to my original project, as a way to 
# further explore python's funcionality.
# I noticed the source data for the person taking the test, and I thought that perhaps there could be a
# correlation between source and some of the personality traits, particularly Facebook and Neuroticism.

# Based on HTTP Referer. 
# 1=from another page on the test website
# 2=from google
# 3=from facebook 
# 4=from any url with ".edu" in its domain name (e.g. xxx.edu, xxx.edu.au)
# 6=other source
# or HTTP Referer not provided.

   race  age  hand country  ...  source_2  source_3  source_4  source_5
0     3   53     1      US  ...         0         0         0         0
1    13   46     1      US  ...         0         0         0         0
2     1   14     1      PK  ...         0         0         0         0
3     3   19     1      RO  ...         0         0         0         0
4    11   25     1      US  ...         1         0         0         0

[5 rows x 71 columns]

In [ ]:

print( len(dc_df),
dc_df['source_1'].sum(),
dc_df['source_2'].sum(),
dc_df['source_3'].sum(),
dc_df['source_4'].sum(),
dc_df['source_5'].sum(),
)

#   This code was written to get a general sense of the distribution of sources for people taking the test.
#   Would we have high enough N to run the analyses to test our Facebook-Neuroticism Hypothesis? It seems unlikely,
#   perhaps I'll come back and add it later.

19719 12099 3653 303 137 3527

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split


x_var = dc_df[['age','engnat_0','engnat_1','engnat_2','gender_0','gender_1','gender_3']]
x_var2 = dc_df[['age','gender_1']]
x_var.head(5)

y_1 = dc_df[['extra']]
y_2 = dc_df[['neuro']]


X_train, X_test, y_train, y_test = train_test_split(x_var2, y_2, test_size = .3, random_state=42)

#   While I was testing out code I came across a data scientist convention in python
#   machine learning that is to split and train models when building them. I decided 
#   to try it out here, even though it's a bit silly to do it in this particutalr use
#   case. We aren't trying to train a model to predict personality by age and
#   gender. The reported effect would be far too weak for it to predict accurately. 
#   Instead we want to know if the weak effect is significant. 

#   Implementing this code is just a way for me to play around and showcase a test
#   train split in my code.

In [ ]:
lm = linear_model.LinearRegression()
model = lm.fit(x_var2, y_2)

predictions = lm.predict(x_var2)
print(predictions)

#   Seeing what it would output for predicitons.

[[29.14865943]
 [32.11395577]
 [32.11395558]
 ...
 [29.14865921]
 [29.14865921]
 [29.14865932]]

In [ ]:
# Fit the regressor to the training data
lm.fit(X_train, y_train)

# Predict on the test data: y_pred
y_pred = lm.predict(X_test)

# Compute and print R^2 and RMSE
print("R^2: {}".format(lm.score(X_test, y_test)))
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print("Root Mean Squared Error: {}".format(rmse))

# The R^2 here is reported at 0.024, which seems to not be particularly powerful
# as a predictor of personality, this is what we would expect.

R^2: 0.023984552037776715
Root Mean Squared Error: 8.438122179008413

In [ ]:
lm.score(x_var2, y_2)

0.02804145817819903

In [ ]:
from statsmodels.formula.api import ols

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
dta = dc_df
dta['gen_age'] = dc_df['gender_1']*dc_df['age']

#   Creating a new dataset for the statistical tests, as well as an interaction variable to control for
#   colinearity. Makes the coefficients non-interpretable.

In [ ]:

formula = 'neuro ~ gender_1 + age + gen_age'
results = ols(formula, dta).fit()
hypotheses = '(gender_1 = 0)'
f_test = results.f_test(hypotheses)
print(f_test)

#   This is the part of the project I'm least familiar with becuase of the different
#   libraries in python. I've imported ols from statsmodels to test the hypothesis
#   that the effect of gender_1 (our variable for female) plus age is equal to 0.
#   The f test resturns a p value of 4.847e-124 which gives us statistical validation
#   of the effect of gender on neuroticism, although as we saw before it is quite small,
#   and therefore isn't particularly powerful as a predictor.

#   As a side note, the statistical analysis I did in the R project is more thorough
#   than the one presented here, this is because I was more interested in getting to
#   know different libraries in python for manipulating data, rather than analyzing it.

<F test: F=array([[528.77743809]]), p=1.7199165474886245e-115, df_denom=1.97e+04, df_num=1>